
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color:white;
    text-decoration: none;
}
a:active {
    color:white;
    text-decoration: none;
}
a:hover {
    color: cyan;
    text-decoration: none;
}


.opening {
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    font-family: Avenir;
    background-color: black;
}



body {
    background-color: black;
    color: azure;


}
p{
    margin-left: 20%;
    margin-right: 20%;
    color: blue;
    font-family: Avenir;
    text-align: justify;
}