
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color:blue;
    text-decoration: none;
}
a:active {
    color:blue;
    text-decoration: none;
}
a:hover {
    color: deepskyblue;
    text-decoration: none;
}



.opening {
    color: darkblue;
    background-color: lightcyan;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 140%;
}

.bizzy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    font-size: 120px;
}

@keyframes fontGrow {
    0% {transform: scaleY(1)}
    50% {transform: scaleY(2)}
    100% {transform: scaleY(1)}
}

.bizzy-letters {
    animation-name: fontGrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: top;
    transition-timing-function: ease-in-out;
}

.letter-b {color: #F7B407;}
.letter-i {color: #CBE69F;animation-delay: 1s;}
.letter-z1 {color: pink;}
.letter-z2 {color: #CBE;animation-delay: 1s;}
.letter-y {color: #91D1DF;}


body {
  font-family: "Roboto", sans-serif;
  background: #22222a;