
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color:white;
    text-decoration: none;
}
a:active {
    color:white;
    text-decoration: none;
}
a:hover {
    color: cyan;
    text-decoration: none;
}


body {
    background-image: url();
    background-size: cover;
    background-color: white;
    color: azure;
    background-image: url("background.jpeg");

}

.opening {
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    font-family: Avenir;
}

h2 {
    font-size: 80px;
    color: white;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 15%;
    font-family: Rockwell;

}

h3 {
    font-size: 80px;
    color: white;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
        margin-left: 15%;
    font-family: "Rockwell";
}

.job {
    font-size: 40px;
    color: white;
    text-align: left;
    margin-top: 0px;
    margin-left: 35%;
    font-family: Avenir;

}

.list1 {
    color: white;
    margin-top: 50px;
  background-color: black;
  padding: 14px 28px;
  font-size: 16px;
    cursor: pointer;
}

.list1 a:link, .list1 a:visited, .list1 a:active, .list1 a:hover {
    color: black;
}

#todobutton {
    text-align: right;
    margin-right: 20%;
    margin-top: 10%;
}

.hello, .me {
    display: flex;
    align-items: center;
    min-height: 200px;
    font-size: 120px;
    margin-left: 10%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.bizzy-letters {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transform-origin: top;
    transition-timing-function: ease-in-out;
    font-family: Rockwell;
}

.letter-h {color: white;}
.letter-e {color: white;animation-duration: 4000ms;}
.letter-l1 {color: white;animation-duration: 5000ms;}
.letter-l2 {color: white;animation-duration: 6000ms;}
.letter-o {color: white;animation-duration: 7000ms;}
.letter-comma {color: white;animation-duration: 8000ms;}

.letter-1 {color: white; animation-duration: 9s;}
.letter-2 {color: white; animation-duration: 10s;}
.letter-3 {color: white; animation-duration: 10s;}
.letter-4 {color: white; animation-duration: 11s;}
.letter-5 {color: white; animation-duration: 12s;}
.letter-6 {color: white; animation-duration: 13s;}
.letter-7 {color: white; animation-duration: 14s;}
.letter-8 {color: white; animation-duration: 15s;}
.letter-9 {color: white; animation-duration: 16s;}
.letter-10 {color: white; animation-duration: 17s;}
.letter-11 {color: white; animation-duration: 18s;}
.letter-12 {color: white; animation-duration: 19s;}
.letter-13 {color: white; animation-duration: 20s;}
.letter-14 {color: white; animation-duration: 21s;}
.letter-15 {color: white; animation-duration: 22s;}
.letter-16 {color: white; animation-duration: 22s;}



