.list1 {
    color: indianred;
    text-align: left;
    margin-left: 50%;

}

.list2 {
    color: forestgreen;
    text-align: left;
    margin-left: 50%;

}

.opening a:link, .opening a:visited, .opening a:hover, .opening a:active {
    color: white;
}

.opening {
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    font-family: Avenir;
    background-color: lightskyblue;
}

body {
    background-color: lightskyblue;
}